@use "./styles/variables" as *;

.pageMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 52px);
  padding: $spacing-6 $spacing-6 $spacing-8;

  strong {
    font-size: $font-size-2xl;
    span {
      color: $color-info;
      font-weight: $font-weight-semibold;
      text-shadow: $shadow-xs;
      &:first-child {
        color: $color-success;
      }
    }
  }

  .contentLogo {
    text-align: center;
    p {
      margin-top: -10rem;
      // overflow: hidden;
      // display: inline-block;
      // padding: $spacing-8;
      // border-radius: $radius-full;
      // background: linear-gradient(
      //   45deg,
      //   rgba(255, 255, 255, 0.5) 0,
      //   rgba(255, 255, 255, 0.9) 40%,
      //   rgba(255, 255, 255, 1) 50%,
      //   rgba(255, 255, 255, 0.9) 60%,
      //   rgba(255, 255, 255, 0.5) 100%
      // );
      // box-shadow: $shadow-white-lg;
    }
  }

  .cardList {
    display: flex;
    gap: $spacing-4;
    margin-top: $spacing-8;
    & > li {
      padding: 130px $spacing-4 $spacing-4;
      border: $color-border-default 1px solid;
      border-radius: $spacing-4;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: 50% 1.5rem;
      background-size: auto 80px;
      box-shadow: $shadow-sm;
      & > b {
        display: block;
        font-weight: $font-weight-semibold;
        text-align: center;
      }
      & > ul {
        margin-top: $spacing-3;
        li {
          font-size: $font-size-sm;
          font-weight: $font-weight-thin;
          &::before {
            display: inline-block;
            margin-right: $spacing-2;
            content: "-";
          }
        }
      }
      &.item1 {
        background-image: url("#{$img-path}/main/icon_img1.svg");
      }
      &.item2 {
        background-image: url("#{$img-path}/main/icon_img2.svg");
      }
      &.item3 {
        background-image: url("#{$img-path}/main/icon_img3.svg");
      }
    }
  }

  .txtBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    & > strong {
      display: block;
      margin-top: -6rem;
      font-size: $font-size-3xl;
      letter-spacing: $font-spacing-2xl;
      color: $color-white;
      font-weight: $font-weight-bold;
      text-shadow: $shadow-md;
    }
    & > p {
      text-align: center;
      letter-spacing: $font-spacing-xl;
      text-shadow: $shadow-sm;
    }
    & > button {
      margin-top: 30px;
    }
    & > p {
      margin-top: $spacing-2;
      font-size: $font-size-xl;
      color: $color-white;
      font-weight: $font-weight-thin;
      text-align: center;
      letter-spacing: $font-spacing-xl;
      text-shadow: $shadow-sm;
    }

    & > span {
      position: relative;
      width: 100%;
      margin-top: $spacing-16;
      padding: $spacing-4;
      font-size: $font-size-2xl;
      color: $color-white;
      font-weight: $font-weight-semibold;
      text-align: center;
      letter-spacing: $font-spacing-xl;
      text-shadow: $shadow-sm;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: $shadow-md;
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.7) 10%,
          rgba(255, 255, 255, 0.96) 25%,
          rgba(255, 255, 255, 1) 50%,
          rgba(255, 255, 255, 0.96) 75%,
          rgba(255, 255, 255, 0.7) 90%,
          rgba(255, 255, 255, 0) 100%
        );
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      b:first-child {
        color: $color-success;
      }
      b:nth-child(2) {
        color: $color-info;
      }
    }
  }

  footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    font-size: $font-size-xs;
    line-height: 30px;
    color: $color-gray-500;
    font-weight: $font-weight-thin;
    text-align: center;
  }
}
