@use "./variables" as *;

body {
  background: $color-bg-body;
}

header {
  box-shadow: $shadow-white-lg;
  nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    .logo {
      display: flex;
      align-items: center;
      gap: $spacing-1;
      font-size: $font-size-md;
      letter-spacing: $font-spacing-xl;
      color: $color-white;
      font-weight: $font-weight-medium;
      text-shadow: $shadow-sm;
      span {
        overflow: hidden;
        border-radius: 50%;
        svg {
          border-radius: 50%;
        }
      }
      // span {
      //   overflow: hidden;
      //   display: inline-block;
      //   margin-right: $spacing-1;
      //   padding: $spacing-1;
      //   border-radius: $radius-full;
      //   background: linear-gradient(
      //     45deg,
      //     rgba(255, 255, 255, 0.8) 0,
      //     rgba(255, 255, 255, 0.7) 15%,
      //     rgba(255, 255, 255, 1) 50%,
      //     rgba(255, 255, 255, 0.7) 85%,
      //     rgba(255, 255, 255, 0.8) 100%
      //   );
      //   box-shadow: $shadow-sm;
      //   img {
      //     width: 24px;
      //     height: 24px;
      //   }
      // }
    }
    .menuGroup {
      display: flex;
      align-items: center;
      gap: $spacing-1;
      font-size: $font-size-sm;
      & > * {
        display: inline-block;
        padding: $spacing-1 $spacing-2;
        svg {
          color: #fff;
          transition: all 0.3s ease-in-out;
        }
        &:hover svg {
          transform: scale(1.2);
        }
      }
    }
  }
}

nav.sideMenu {
  position: fixed;
  top: 53px;
  right: 0;
  bottom: 0;
  min-width: 300px;
  border-left: $color-border-default 1px solid;
  background: #fff;
  box-shadow: $shadow-sm;
}
